<!-- {{ $img := resources.Get .Site.Params.sidebar.img }} to keep in `assets` -->
<aside
  class="hidden flex-col items-center bg-manuscript-tan grid-in-sidebar dark:bg-stone-800 lg:flex"
>
  <p class="p-2 font-semibold uppercase dark:text-stone-200">
    {{ if isset .Site.Params "title" }}
      {{ .Site.Params.title }}
    {{ else }}
      {{ .Site.Title }}
    {{ end }}
  </p>
  <div class="mt-3 h-44 w-44 overflow-hidden rounded-full">
    <img
      src="{{ .Site.Params.sidebar.img | relURL }}"
      class="h-full w-full object-cover"
    />
  </div>
  <p
    class="mx-auto mt-2 space-x-2.5 p-2 text-center text-sm text-gray-600 dark:text-gray-300"
  >
    {{ .Site.Params.tagline }}
  </p>
  <p
    class="mx-auto mt-1 space-x-2.5 p-2 text-center text-xs text-gray-600 dark:text-gray-300"
  >
    Toggle search with <kbd>CTRL-/</kbd>.
  </p>
  <div class="flex space-x-2.5 p-3 text-xl">
    {{ range .Site.Params.socials }}
      <a
        href="{{ index . "url" }}"
        class="text-xl transition-colors duration-75 hover:text-heraldic-blue dark:text-stone-400 dark:hover:text-heraldic-blue "
      >
        <i class="{{ index . "icon" }}"></i>
      </a>
    {{ end }}
  </div>
  <p
    class="absolute bottom-0 mb-4 text-sm text-stone-500 before:mx-0.5 before:align-text-top before:content-['\00a9']"
  >
    {{ if gt (now.Format "2006") "2022" }}
      2022&mdash;{{ now.Format "2006" }}
    {{ else }}
      {{ now.Format "2006" }} Trent B
    {{ end }}
  </p>
</aside>
