{{ $fuseJs := resources.Get "js/fuse.js" }}
{{ $search := resources.Get "js/search.js" }}


<!-- layouts/partials/search.html -->
<div
  role="search-overlay"
  class="fixed inset-0 -z-10 m-auto hidden h-full w-full rounded-sm bg-black/80 text-white opacity-0 shadow-xl backdrop-blur transition duration-150 ease-in-out lg:block"
>
  <form
    id="search-form"
    class="noscript block"
    method="GET"
    action="https://duckduckgo.com/"
    data-language-prefix="{{ site.LanguagePrefix }}"
  >
    <div role="searchbar-container" class="flex justify-center">
      <input
        id="search-input"
        class="mx-auto mt-2 w-[98%] border-x-0 border-t-0 border-b-2 border-stone-200/30 bg-transparent p-1 placeholder:p-2 placeholder:text-stone-400 focus:border-heraldic-blue focus:outline-none focus:ring-0"
        name="q"
        tabindex="0"
        placeholder="&#x1f50e;&nbsp;Search Site"
        autocomplete="off"
        {{ with site.BaseURL }}value=" site:{{ . }}"{{ end }}
        placeholder="{{ i18n "search" }}"
      />
      <input id="search-submit" class="icon hidden" type="submit" value="⌕" />
    </div>
    <div
      id="search-results"
      class="prose-sm prose prose-invert mx-3 !max-w-none space-y-1 prose-h2:mb-1"
    ></div>
  </form>
  <script src="{{ $fuseJs.Permalink }}"></script>
  <script src="{{ $search.Permalink }}"></script>
</div>
