<div
  class="prose-sm mx-auto w-96 overflow-hidden border-b border-stone-400 last:border-0 prose-img:m-0 lg:flex lg:w-full lg:max-w-none"
>
  <header class="text-center font-bold lg:hidden">
    {{ .name }}, son of
    {{ .father }}
  </header>
  <div class="flex-shrink-0">
    {{ with .img }}
      {{ $img := resources.Get .path }}
      <img
        src="{{ $img.Permalink }}"
        alt="{{ .alt }}"
        class="!my-0.5 h-80 w-full object-contain lg:h-56"
      />
    {{ end }}
  </div>
  <div>
    <header class="ml-3 mb-0 hidden text-lg font-bold lg:block">
      {{ .name }}, son of
      {{ .father }}
    </header>
    <div class="px-3 pb-3">
      {{ with .words }}
        <div class="text-italic text-stone-600">
          <div class="italic">
            <div class="text-center lg:hidden">
              <p>&#8220;{{ .latin }}&#8221;</p>
              <p>&#8220;{{ .english }}&#8221;</p>
            </div>
            <p class="hidden lg:block">
              &#8220;{{ .latin }} - {{ .english }}&#8221;
            </p>
          </div>
        </div>
      {{ end }}
      <main class="mx-auto max-w-prose lg:max-w-full">
        {{ .description }}
      </main>
    </div>
  </div>
</div>
