<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" x-data="{darkMode: false}"
    x-init="darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => JSON.stringify(localStorage.setItem('darkMode', value)))"
    :class="{'dark': darkMode === true}">
{{- partial "head.html" . -}}

<body>
    <div
        class="grid h-screen grid-areas-mobile grid-rows-layout lg:grid-areas-desktop grid-cols-layout">
        {{ partial "header.html" .}}
        {{ partial "sidebar/fixed" . }}
        <main class="max-w-none overflow-y-scroll grid-in-main bg-manuscript-white p-3">
            <article class="max-w-none prose prose-sm lg:prose-base prose-stone">
                {{block "main" .}}{{end}}
            </article>
        </main>
        <footer class="grid-in-footer bg-green-300">
            The Footer
        </footer>
    </div>
</body>

</html>
