<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" x-data="{darkMode: false}"
    x-init="darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => JSON.stringify(localStorage.setItem('darkMode', value)))"
    :class="{'dark': darkMode === true}">
{{- partial "head.html" . -}}

<body>
    <div
        class="grid h-screen grid-areas-mobile grid-rows-layout lg:grid-areas-desktop grid-cols-layout">
        {{ partial "header.html" .}}
        {{ partial "sidebar/fixed" . }}
        <main class="px-3 pt-3 overflow-y-scroll grid-in-main prose !max-w-none prose-stone bg-manuscript-white">
            <article class="prose-sm lg:prose-base">

        {{ block "main" .}}{{end}}      

            </article>
        </main>
       {{ partial "footer.html" .}} 
    </div>
</body>

</html>
