<!DOCTYPE html>
<html
  lang="{{ .Site.LanguageCode }}"
  x-data="{darkMode: false, sidebarOpen: false}"
  x-init="darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => JSON.stringify(localStorage.setItem('darkMode', value)))"
  :class="{'dark': darkMode === true}"
>
  {{- partial "head.html" . -}}


  <body class="min-h-screen antialiased scrollbar-thin">
    <div
      class="grid h-screen grid-cols-layout grid-rows-layout grid-areas-mobile lg:grid-areas-desktop"
    >
      {{ partial "header.html" . }}
      {{ partial "sidebar/fixed" . }}
      <main
        class="prose-sm prose prose-stone !max-w-none overflow-y-scroll bg-manuscript-white  grid-in-main lg:prose-base"
      >
        <article
          class="{{ if eq .Type "session" }}
            first:prose-h1:m-0 first:prose-h1:p-0 [nth-of-type(2)]:prose-p:-ml-3
          {{ end }} p-3"
        >
          {{ block "main" . }}
          {{ end }}
        </article>
      </main>
      {{ partial "footer.html" . }}
    </div>

    {{ partial "sidebar/overlay" . }}
    {{ partial "search/overlay" . }}
  </body>
</html>
