{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <ul>
    {{ range .Data.Pages.GroupByDate "2006" }}
      <h2>{{ .Key }}</h2>
      {{ range .Pages }}

        <li class="clear-both">
          <a href="{{ .RelPermalink }}">
            {{ if eq .Type "session" }}
              {{ .Title }}: {{ .Params.year_played }} AD
            {{ else }}
              {{ .Title }}
            {{ end }}
          </a>
          <span class="float-right">
            {{ .Date.Format "02 Jan." }}
          </span>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
